.clients-list {
	@include wrapFlex();
	margin-bottom: -30px;
}

.client {
	display: flex;
	flex-basis: calc((100% - 30px) / 2);

	height: 90px;

	border: 1px solid $color-svg;
	border-radius: 4px;

	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&-svg {
		fill: $color-svg;

		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:hover,
	&:focus {
		border: 1px solid $accent-color;
	}

	&:hover .client-svg,
	&:focus .client-svg {
		fill: $accent-color;
	}
	&:not(:nth-child(2n)) {
		margin-right: 30px;
	}
}
