.section {
	&-title {
		margin-bottom: 30px;

		font-weight: 700;

		font-size: 28px;
		line-height: 1.179;
		text-align: center;

		color: $title-color;
		@include for-size(desktop) {
			font-size: 36px;
			line-height: 1.17;
			margin-bottom: 50px;
		}
	}

	&-padding {
		padding-top: 60px;
		padding-bottom: 60px;

		@include for-size(desktop) {
			padding-top: 94px;
			padding-bottom: 94px;
		}
	}
}
